$black-color: #212121;
$blue-color: #2196f3;
$grey-color: #757575;
$white-color: #ffffff;
$background-color: #2f303a;
$light-white-color: #f5f4fa;
$svg-color: #afb1b8;
$button-hover: #188ce8;

$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

$font-primary: "Roboto", sans-serif;
$font-secondary: "Raleway", sans-serif;

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;
