.client {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desctop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client__title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: $fw-bold;
  font-size: 28px;
  line-height: 1.17;

  @media screen and (min-width: $desctop) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.client__list {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 200px) and (max-width: 1199px) {
    margin: -15px;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $desctop) {
    justify-content: space-between;
  }
}

.client__item {
  display: flex;
  height: 92px;
  max-width: 210px;

  align-items: center;
  justify-content: center;
  border: 1px solid $svg-color;
  border-radius: 4px;
  transition: border 250ms $cubic-bezier;
  &:hover,
  &:focus {
    border: 1px solid $blue-color;
  }

  &:hover .client__icon,
  &:focus .client__icon {
    fill: $blue-color;
  }

  @media screen and (min-width: 100px) and (max-width: 1199px) {
    margin: 15px;
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin-bottom: 50px;
    font-size: 36px;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    max-width: 226px;
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
  @media screen and (min-width: $desctop) {
    width: 170px;
  }
}

.client__icon {
  fill: $svg-color;

  width: 106px;
  height: 60px;
  transition: fill 250ms $cubic-bezier;
}
