.page-header__container {
  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.page-header {
  border-bottom: 1px solid #ececec;
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: $tablet) {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  @media screen and (min-width: $desctop) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: $font-secondary;
  font-weight: $fw-bold;
  font-size: 24px;
  line-height: 1.17;

  @media screen and (min-width: $desctop) {
    font-size: 26px;
  }
}

.logo--accent {
  color: $blue-color;
}

.burger-menu__btn {
  background-color: transparent;
  border: none;
  display: inline-flex;
  margin: 0;
  padding: 0;

  &:hover,
  &:focus {
    fill: $blue-color;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-container {
  background-color: $white-color;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
  }

  &--is-open {
    display: block;
  }
}

.site-nav {
  font-weight: $fw-medium;
  line-height: 1.17;
  letter-spacing: 0.02em;

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-left: 88px;

    .site-nav__item {
      &:hover .site-nav__link::after {
        transform: scaleX(1);
      }
    }

    .site-nav__item:not(:last-child) {
      margin-right: 50px;
    }

    .site-nav__link {
      position: relative;
      padding-top: 32px;
      padding-bottom: 32px;
      transition: color 250ms $cubic-bezier;

      &:hover,
      &:focus {
        opacity: 1;
        color: $blue-color;
      }

      &::after {
        position: absolute;
        content: "";
        height: 4px;
        width: 100%;
        background: $blue-color;
        bottom: 0;
        left: 0;
        border-radius: 2px;
        transition: transform 250ms $cubic-bezier;
        transform: scaleX(0);
      }

      &--active {
        color: $blue-color;
      }

      &--active::before {
        position: absolute;
        content: "";
        height: 4px;
        width: 100%;
        background: $blue-color;
        bottom: 0;
        left: 0;
        border-radius: 2px;
      }
    }
  }

  @media screen and (min-width: $desctop) {
    margin-left: 93px;
  }
}

.contacts {
  @media screen and (min-width: $tablet) {
    margin-left: 84px;
    font-size: 12px;

    &__icon {
      margin-right: 8px;
    }

    &__item:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: $desctop) {
    display: flex;
    justify-content: center;
    align-items: center;

    &__icon {
      margin-right: 10px;
    }
    margin-left: 305px;

    &__item:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
}

.contacts__link {
  // color: $grey-color;
  // display: flex;
  // align-items: center;
  // font-weight: $fw-medium;
  // font-size: 14px;
  // line-height: 1.17;
  // letter-spacing: 0.02em;
  // padding: 0;
  // transition: color 250ms $cubic-bezier;

  // &:hover,
  // &:focus {
  //   color: $blue-color;
  // }

  @media screen and (min-width: 768px) {
    color: $grey-color;
    display: flex;
    align-items: center;
    font-weight: $fw-medium;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    padding: 0;
    transition: color 250ms $cubic-bezier;

    &:hover,
    &:focus {
      color: $blue-color;
    }

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    .contacts__item:not(:last-child) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: $desctop) {
    font-size: 14px;
  }
}

// .page-header {
//   padding-top: 24px;
//   padding-bottom: 25px;
//   border-bottom: 1px solid #ececec;
// }
// .test {
//   justify-content: space-between;
// }

// .logo {
//   font-family: $font-secondary;
//   font-weight: $fw-bold;
//   font-size: 26px;
//   line-height: 1.17;
// }

// .logo--accent {
//   color: $blue-color;
// }

// .navigation {
//   display: flex;
//   align-items: center;
// }

// .site-nav {
//   display: flex;
//   margin-left: 93px;
//   font-weight: $fw-medium;
//   font-size: 14px;
//   line-height: 1.17;
// }

// .site-nav__item {
//   &:hover .site-nav__link::after {
//     transform: scaleX(1);
//   }
// }

// .site-nav__item:not(:last-child) {
//   margin-right: 50px;
// }

// .site-nav__link {
//   position: relative;
//   padding-top: 32px;
//   padding-bottom: 32px;
//   transition: color 250ms $cubic-bezier;

//   &:hover,
//   &:focus {
//     opacity: 1;
//     color: $blue-color;
//   }

//   &::after {
//     position: absolute;
//     content: "";
//     height: 4px;
//     width: 100%;
//     background: $blue-color;
//     bottom: 0;
//     left: 0;
//     border-radius: 2px;
//     transition: transform 250ms $cubic-bezier;
//     transform: scaleX(0);
//   }

//   &--active {
//     color: $blue-color;
//   }

//   &--active::before {
//     position: absolute;
//     content: "";
//     height: 4px;
//     width: 100%;
//     background: $blue-color;
//     bottom: 0;
//     left: 0;
//     border-radius: 2px;
//   }
// }

// .contacts {
//   display: flex;
//   align-items: center;

//   &__icon {
//     margin-right: 10px;
//   }
//   margin-left: 305px;
// }

// .contacts__item:not(:last-child) {
//   margin-right: 30px;
// }

// .contacts__link {
//   color: $grey-color;
//   display: flex;
//   align-items: center;
//   font-weight: $fw-medium;
//   font-size: 14px;
//   line-height: 1.17;
//   letter-spacing: 0.02em;
//   padding: 0;
//   transition: color 250ms $cubic-bezier;

//   &:hover,
//   &:focus {
//     color: $blue-color;
//   }
// }
